<!-- Mostrar productos -->
<div class="container">
  <div class="card shadow">
    <div class="card-header">
      <h4 class="card-title">Información del Usuario</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-2"><strong>Nombre:</strong> {{user.first_name}} {{user.last_name}}</p>
          <p class="mb-2"><strong>Email:</strong> {{user.email}}</p>
          <p class="mb-2"><strong>Rol:</strong> {{user.role}}</p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <form action="/logout" method="get">
        <button type="submit" class="btn btn-danger">Cerrar sesión</button>
      </form>
    </div>
  </div>
</div>

<!-- Mostrar productos -->

<div class="container mt-5">
  <h2>Productos Disponibles</h2>
  <div class="row">
    {{#each products}}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{description}}</p>
          <p class="card-text"><strong>Precio:</strong> ${{price}}</p>
          <p class="card-text"><strong>Stock:</strong> {{stock}}</p>
          <!-- Agregar un botón de carrito aquí -->
          <a href="/agregar-al-carrito/{{id}}" class="btn btn-primary">Agregar al Carrito</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
